$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

:export {
  grid: {
    xs: map-get($grid-breakpoints, "xs");
    sm: map-get($grid-breakpoints, "sm");
    md: map-get($grid-breakpoints, "md");
    lg: map-get($grid-breakpoints, "lg");
    xl: map-get($grid-breakpoints, "xl");
  }
}
